.eii * {
  box-sizing: border-box;
}

.node__title.eii__title {
  text-align: left;
  max-width: 650px;
  margin-left: 0;
  margin-bottom: 3rem;
}

.eii .button {
  margin: 0;
}

.eii > * + * {
  margin-top: 3rem;
  border-top: 2px solid #aaa;
  padding-top: 3rem;
}

.eii__section > :first-child {
  margin-top: 0;
}

.eii__section--small {
  margin-top: 2rem;
  border-top: 1px solid #dedede;
  padding-top: 2rem;
}

.eii__dl {
  display: flex;
  flex-flow: row wrap;
}

.eii__dt {
  font-weight: var(--font-weight--bold);
  flex: 0 0 12rem;
  text-align: right;
  padding-right: 1rem;
  margin: 0;
}

.eii__dd {
  flex: 0 0 calc(100% - 12rem);
  margin: 0;
}

@media (max-width: 767px) {
  .eii__dt, .eii__dd {
    flex: 0 0 100%;
    text-align: left;
  }
}

.eii__lang, .eii__offset {
  border: 0;
  margin: 0;
  padding: 0;
}

.eii__langoption, .eii__offsetvalue {
  margin-left: 1rem;
}

.eii__offsetvalue {
  width: 4em;
}

.eii__wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.eii__code, .eii__input {
  flex: 1 1 0;
  font-family: monospace;
}

.eii__copy {
  flex: 0 0 auto;
}

.eii_detail {
  width: 100%;
  margin: 0;
}

.eii__summary {
  margin: 2rem 0;
  cursor: pointer;
}

.eii__preview {
  border: 0;
  width: 100%;
}
