.leaflet__map--tour {
  width: 100%;
  min-height: 400px;
  height: 600px;
  max-height: calc(100vw - 200px);
}

.tour__statistics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.tour__rating, .tour__bymonth {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.tour__rating_item, .tour__bymonth_month {
  padding: 0.333rem 0.75rem;
}

.tour__rating_item:nth-child(even), .tour__bymonth_month--active {
  background-color: var(--color--background-accent, var(--CONST--color--background-gray, transparent));
}

.tour__rating_list {
  border: 1px solid var(--color--background-accent, var(--CONST--color--background-gray, transparent));
}

.tour__rating_item {
  display: grid;
  grid-template-columns: 1fr 150px;
  border: 1px solid var(--color--background-accent, var(--CONST--color--background-gray, transparent));
}

.tour__rating_value {
  display: block;
  position: relative;
  text-indent: -9999px;
}


.tour__rating_value::before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  text-align: right;
  content: '\25cb\00a0\25cb\00a0\25cb\00a0\25cb\00a0\25cb\00a0\25cb';
  text-indent: 0;
  color: var(--color--highlight, var(--color--foreground, #000));
}

.tour__rating_value--1::before {
  content: '\25cf\00a0\25cb\00a0\25cb\00a0\25cb\00a0\25cb\00a0\25cb';
}

.tour__rating_value--2::before {
  content: '\25cf\00a0\25cf\00a0\25cb\00a0\25cb\00a0\25cb\00a0\25cb';
}

.tour__rating_value--3::before {
  content: '\25cf\00a0\25cf\00a0\25cf\00a0\25cb\00a0\25cb\00a0\25cb';
}

.tour__rating_value--4::before {
  content: '\25cf\00a0\25cf\00a0\25cf\00a0\25cf\00a0\25cb\00a0\25cb';
}

.tour__rating_value--5::before {
  content: '\25cf\00a0\25cf\00a0\25cf\00a0\25cf\00a0\25cf\00a0\25cb';
}

.tour__rating_value--6::before {
  content: '\25cf\00a0\25cf\00a0\25cf\00a0\25cf\00a0\25cf\00a0\25cf';
}

.tour__bymonth_months {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  border: 1px solid var(--color--background-accent, var(--CONST--color--background-gray, transparent));
}

.tour__bymonth_month {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color--background-accent, var(--CONST--color--background-gray, transparent));
}

.tour__bymonth_month--active {
  font-weight: var(--font-weight--bold, bold);
}

.tour__bymonth_month--inactive {
  opacity: 0.5;
}
