<div class="infopointmenu">
  <button class="infopointmenu__btn infopointmenu__btn--prev"><i class="fal fa-arrow-left infopointmenu__icon infopointmenu__icon--prev"></i></button>
  <div class="infopointmenu__wrapper">
    <div class="tile-container tile-container--menu">
      {{ infopointmenu }}
    </div>
  </div>
  <button class="infopointmenu__btn infopointmenu__btn--next"><i class="fal fa-arrow-right infopointmenu__icon infopointmenu__icon--next"></i></button>
</div>
