{% macro render_instructions(domain, key, type_plural, prefix, postfix, example_page) %}
  <div class="eii__section eii__section--small eii__section--{{ key }}">
    <h4 class="eii__subtitle eii__subtitle--{{ key }}">{{ 'Embed @type_plural'|t({'@type_plural': type_plural}) }}</h4>
    {% if key == 'page' %}
      {% set path = '/my-example-page'|t %}
      <p class="eii__instruction eii__instruction--html eii__instruction--{{ key }}">
        {{ 'First copy the link of the guest guide page you want to embed on your homepage into the field below:'|t }}
      </p>
      <div class="eii__wrapper">
        <input class="eii__input eii__input--select-{{ key }}" name="eii__input--select-{{ key }}" placeholder="{{ domain|replace({'-iframe.': '.'}) ~ path }}">
      </div>
      <p class="eii__instruction eii__instruction--html eii__instruction--{{ key }}">
        {{ 'Then place this code where you want to show @type_plural on your website:'|t({'@type_plural': type_plural}) }}
      </p>
    {% else %}
      {% set path = '/dgm/' ~ key %}
      <p class="eii__instruction eii__instruction--html eii__instruction--{{ key }}">
        {{ 'Place this code where you want to show @type_plural on your website:'|t({'@type_plural': type_plural}) }}
      </p>
    {% endif %}
    {{ prefix|raw }}
    <div class="eii__wrapper">
      <textarea class="eii__code eii__code--{{ key }}" rows="4" readonly>
        {%- autoescape -%}
<iframe src="{{ domain }}{{ path }}" id="dgm_iframe_{{ key }}" style="width: 100%; border: 0; scroll-behavior: smooth;"></iframe>
<script src="{{ domain }}/assets/iframeResizer.min.js"></script>
<script>
  function dgmDoSmoothScroll(iframe, scrollOffsetTop = 0) {var distanceToTop = iframe.getBoundingClientRect().top + window.scrollY - scrollOffsetTop; if (window.getComputedStyle(iframe).scrollBehavior == 'smooth') {window.scrollTo({top: distanceToTop, behavior: 'smooth'})} else {window.scrollTo(0, distanceToTop);}; };
  iFrameResize({ checkOrigin: ['{{ domain }}'], onMessage: function(obj) {if (obj.message=='scrollParent') { window.dgmScrollToStartOf{{ key|capitalize }}Iframe ? dgmDoSmoothScroll(obj.iframe, 0) : obj.iframe.iFrameResizer.resize(), window.dgmScrollToStartOf{{ key|capitalize }}Iframe = true; obj.iframe.iFrameResizer.sendMessage({'entryPage': '{{ path }}'}, '{{ domain }}'); }} }, '#dgm_iframe_{{ key }}');
</script>
        {%- endautoescape -%}
      </textarea>
      <button class="button eii__copy eii__copy--{{ key }}"><i class="far fa-copy fa-2x"></i></button>
    </div>
    {{ postfix|raw }}
    <details class="eii_detail">
      <summary class="eii__summary">{{ 'Preview @type_plural'|t({'@type_plural': type_plural}) }}</summary>
      <iframe src="{{ domain }}{{ path }}" id="dgm_iframe_{{ key }}" style="width: 100%; border: 0; scroll-behavior: smooth;"></iframe>
      <script src="{{ domain }}/assets/iframeResizer.min.js"></script>
      <script>
        function dgmDoSmoothScroll(iframe, scrollOffsetTop = 0) {let distanceToTop = iframe.getBoundingClientRect().top + window.scrollY - scrollOffsetTop; if (window.getComputedStyle(iframe).scrollBehavior == 'smooth') {window.scrollTo({top: distanceToTop, behavior: 'smooth'})} else {window.scrollTo(0, distanceToTop);}; };
        iFrameResize({ checkOrigin: ['{{ domain }}'], onMessage: (obj) => {if (obj.message=='scrollParent') { window.dgmScrollToStartOf{{ key|capitalize }}Iframe ? dgmDoSmoothScroll(obj.iframe, jQuery('#toolbar-bar').height() ?? 0) : obj.iframe.iFrameResizer.resize(), window.dgmScrollToStartOf{{ key|capitalize }}Iframe = true; obj.iframe.iFrameResizer.sendMessage({'entryPage': '{{ path }}'}, '{{ domain }}'); }} }, '#dgm_iframe_{{ key }}');
      </script>
    </details>
  </div>
{% endmacro %}

{% block container %}
  <div class="eii">
    {% block account %}
      <div class="eii__section eii__section--account">
        {% block title %}
          {% if dgm.channel == 'iframe' %}
            <h1 class="node__title eii__title">
              {{ 'Embed content from your digital guest guide on your website'|t }}
            </h1>
          {% endif %}
        {% endblock %}

        <h2 class="eii__subtitle eii__subtitle--tv">{{ 'Account'|t }}</h2>
        <dl class="eii__dl">
          <dt class="eii__dt">{{ 'Name'|t }}:</dt><dd class="eii__dd">{{ user.name }}</dd>
          <dt class="eii__dt">{{ 'City'|t }}:</dt><dd class="eii__dd">{{ user.location }}</dd>
          <dt class="eii__dt">{{ 'Geographical position'|t }}:</dt><dd class="eii__dd">{{ user.geo }}</dd>
        </dl>
      </div>
    {% endblock %}

    {% block lang %}
      <div class="eii__section eii__section--lang">
        <h2 class="eii__subtitle eii__subtitle--touch">{{ 'Embed content'|t }}</h2>
        <p>
          {{ 'You can embed content from your personal digital guest guide on your website by adding HTML code snippets on your website.'|t }}<br>
          {{ 'If you need help adding HTML code adding to your website, please ask the web agency maintaining your site.'|t }}<br>
          {{ 'You can forward this information to your web agency by sharing this link:'|t }}<br>
          <div class="eii__wrapper">
            <input class="eii__code eii__code--{{ key }}" value="{{ domain_iframe }}/dgm/share/{{ hashid }}" readonly>
            <a href="mailto:?subject={{- 'Embed content from your digital guest guide on your website'|t|url_encode -}}&body={{- 'You can embed content from your personal digital guest guide on your website by adding HTML code snippets on your website.'|t|url_encode -}}%0D%0A{{- 'Follow this link to get embed instructions:'|t|url_encode -}}%0D%0A%0D%0A{{- domain_iframe|url_encode -}}/dgm/share/{{- hashid -}}%0D%0A%0D%0A{{- 'Best regards'|t|url_encode -}}%0D%0A{{- user.name|url_encode -}}%0D%0A{{- user.location|url_encode -}}" class="button btn--primary"><span class="fa-lg"><span class="fa-layers fa-fw"><i class="fal fa-envelope"></i><i class="fas fa-long-arrow-alt-right" data-fa-transform="right-10"></i></span></span></a>
          </div>
        </p>
        <details class="eii_detail">
          <summary class="eii__summary">{{ 'Settings'|t }}</summary>
          <fieldset class="eii__lang">
            <span class="eii__settingslabel">{{ 'Language'|t }}:</span>
            <input type="radio" name="eii__lang" id="eii__lang--de" class="eii__langoption" value="" checked>&nbsp;<label for="eii__lang--de">{{ 'German'|t }}</label>
            <input type="radio" name="eii__lang" id="eii__lang--en" class="eii__langoption" value="en">&nbsp;<label for="eii__lang--en">{{ 'English'|t }}</label><br>
            <em>{{ 'Please note that not all content is translated to all languages, especially events are often only available in german.'|t }}</em>
          </fieldset>
          <br>
          <fieldset class="eii__offset">
            <span class="eii__settingslabel">{{ 'Scroll-Offset'|t }}:</span>
            <input type="number" min="0" max="9999" step="1" value="0" name="eii__offset" id="eii__offset" class="eii__offsetvalue"> px<br>
            <em>{{ 'If your website has a fixed header, you can adjust the scrolling after clicks on the content here.'|t }}</em>
            <br>
            <br>

            <br>
            <em>{{ 'Colors and other styles of embedded pages are customizable in your account settings. Visit "Settings > Account > Settings" to change your styling (requires log in).'|t }}</em>
          </fieldset>
        </details>
      </div>
    {% endblock %}

    {% block instructions %}
      {{ _self.render_instructions(domain_iframe, 'event', 'events'|t) }}
      {% set postfix = '<p><em>' ~ 'The excursions by default will be filtered to the current season according to your DGM settings.'|t ~ '</em></p>' %}
      {{ _self.render_instructions(domain_iframe, 'poi', 'excursions'|t, '', postfix) }}
      {{ _self.render_instructions(domain_iframe, 'tour', 'tours'|t) }}
      {{ _self.render_instructions(domain_iframe, 'gastronomy', 'gastronomy'|t) }}
      {{ _self.render_instructions(domain_iframe, 'page', 'other pages'|t, '', '', example_page) }}
    {% endblock %}

    {% block links %}
      <div class="eii__section eii__section--tv">
        <h2 class="eii__subtitle eii__subtitle--tv">{{ 'TV-Slider'|t }}</h2>
        <p>
          {{ 'Use this link for your guest guide TV:'|t }}<br>
          <a href="{{ domain_tv }}" target="_blank">{{ domain_tv }}</a>
        </p>
        <p><em>{{ 'The guest guide TV is optimized for Full-HD TVs (1920x1080 Pixel).'|t }}</em></p>
      </div>

      <div class="eii__section eii__section--small eii__section--touch">
        <h2 class="eii__subtitle eii__subtitle--touch">{{ 'Interactive guest guide'|t }}</h2>
        <p>
          {{ 'Use this link for your interactive guest guide:'|t }}<br>
          <a href="{{ domain_touch }}" target="_blank">{{ domain_touch }}</a>
        </p>
        <p><em>{{ 'The interactive guest guide will adopt dynamically to the screen size of your device.'|t }}</em></p>
      </div>
    {% endblock %}

    {% block attachments %}
      {{ attach_library('wt_dgm/share_iframe') }}
    {% endblock %}
  </div>
{% endblock %}
