{#
/**
 * @file
 * Default theme implementation to display a DGM touch frontpage.
 *
 * Available variables:
 * - mobile: The mobile (small screen) frontpage node render array
 * - infopoint: The infpoint (large screen) frontpage node render array
 */
#}
<div class="touchfront touchfront--mobile hidden@lg">
  {{ mobile }}
</div>
<div class="touchfront touchfront--infopoint hidden@xs">
  {{ infopoint }}
</div>
